.form {
    border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 10px;
	margin: 0 auto;
	border: 30px groove #FFD2D2;
    padding-bottom: 60px;
    background: #FFF4F4;
    max-width: 400px;
    max-height: 1000px;
	
    
}
body {
    text-align: center;
    border: 60px;
    padding: 50px;
}
input[type=submit] {
    background-color:rgb(114, 123, 240);
    cursor: pointer;
    width: 300px;
}