.form {
    border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 10px;
	margin: 0 auto;
	border: 50px groove #FFD2D2;
	padding: 50px;
    background: #FFF4F4;
    max-width: 400px;
    max-height: 600px;
	
    
}
body {
    background-color:darkgray;
    text-align: center;
    border: 60px;
    padding: 50px;
}
input[type=submit] {
    background-color:deeppink;
    cursor: pointer;
    width: 300px;
}